<mat-card *ngIf="building$ | async as building" class="building-details__wrapper">
  <mat-card-title class="building-details__header">
    <mat-icon aria-label="Building icon">apartment</mat-icon>
    <span class="building-details__title">{{ getBuildingTitle(building) }}</span>
  </mat-card-title>
  <mat-card-subtitle> {{ building.description }} </mat-card-subtitle>

  <mat-divider></mat-divider>
  <mat-card-content class="building-details__content">
    <h3 class="building-details__subtitle">Nicknames of this building:</h3>
    <app-nickname-editor *ngIf="isEditMode; else nicknames"
      [inputLabel]="nicknameLabel"
      [inputPlaceholder]="nicknamePlaceholder"
      [formatValidator]="buildingNicknameFormatValidator"
      (save)="onNicknamesSaved($event)">
    </app-nickname-editor>

    <ng-template #nicknames>
      <span *ngFor="let nickname of building.nicknames" class="building-details">
        {{ nickname }}
      </span>
    </ng-template>
  </mat-card-content>
</mat-card>

