:host {
  display: flex;
  margin: 40px auto;
  justify-content: center;
}

.building-details {
  &__header {
    display: flex;
    align-items: center;
    vertical-align: middle;
  }

  &__title {
    margin: 0 8px;
  }

  &__content {
    margin: 30px 0;
  }
}
