:host {
  display: flex;
  flex-direction: column;
}

.nickname-editor {
  &__icon {
    cursor: pointer;

    &--add {
      margin-left: auto;
    margin: 0 5px;
    }
  }

  &__save-button {
    margin-left: auto;
  }

  &__add-button {
    margin-right: auto;
  }

  &__input {
    margin-right: 10px;
    width: 100%;
  }

  &__list-item {
    display: flex;
    margin: 5px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__list-item {
    display: flex;
    align-items: center;
  }

  &__controls {
    display: flex;
    margin-top: 10px;
  }

  &__empty-msg {
    margin-bottom: 20px;
  }
}
