<div class="nickname-editor__list">
  <div *ngFor="let control of nicknamesControls; let idx = index" class="nickname-editor__list-item">
    <mat-form-field class="nickname-editor__input">
      <mat-label>{{ inputLabel }}</mat-label>
      <input matInput [placeholder]="inputPlaceholder" [formControl]="getFormControl(idx)" (keydown.enter)="onEnterPressed()" #input autofocus>
      <mat-error *ngIf="shouldShowControlError(idx)">
        Please enter a valid nickname.
      </mat-error>
    </mat-form-field>
    <mat-icon class="nickname-editor__icon"  title="Delete" alt="Delete icon" (click)="onNicknameDelete(idx)">delete</mat-icon>
  </div>
</div>

<span *ngIf="!nicknamesControls.length" class="nickname-editor__empty-msg">There are no nicknames for this building, so you can add a new one.</span>

<div class="nickname-editor__controls">
  <button (click)="onAddNewNicknameClick()" class="nickname-editor__add-button" mat-raised-button color="primary">Add new nickname</button>
  <button (click)="onSaveBtnClick()" class="nickname-editor__save-button" [disabled]="isSavingDisabled$ | async" mat-raised-button color="primary">Save nicknames</button>
</div>
